#notification-list {
  position: fixed;
  top: 0;
  right: 0;
  padding: 25px; }

.notification {
  padding: 35px;
  margin: 10px; }

.notification-error {
  background-color: firebrick; }

.notification-success {
  background-color: #00D455; }

.overlay-menu {
  position: fixed;
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;
  background-color: white;
  border: solid 2px black;
  z-index: 10;
  padding: 10px; }

.styleButton {
  display: inline-block;
  background: #3cb0fd;
  padding: 10px 20px 10px 20px;
  font-size: 15px;
  margin: 5px;
  color: #ffffff; }
  .styleButton.active {
    background: #1d557a; }
