# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

node_modules
.gradle
!gradle/wrapper/gradle-wrapper.jar
bundle.js
server-bundle.js
src/main/resources/static/css/
**/*.js.map


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
nbdist/
.nb-gradle/

/out

/src/main/resources/static/js/admin-bundle.js

# Folder containing pictures uplaoded for the blog.
blog-content
