@import "variables";

#nav-icon-container {
  display: none;
}

#nav-icon-container {
  position: absolute;
  top: 5px;
  right: 10px;
}

#nav-icon {
  width: 60px;
  height: 30px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: $shirt-yellow;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}

#nav-icon span:nth-child(2) {
  top: 18px;
  transform-origin: left center;
}

#nav-icon span:nth-child(3) {
  top: 36px;
  transform-origin: left center;
}

#nav-icon.open span:nth-child(1) {
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}

@media screen and (max-width: $media-small), (device-width: $media-small) {
  #nav-icon-container {
    display: block;
  }

  #nav-icon {
    display: block;
  }
}