@import "variables";
@import "navbar";
@import "hamburger";
@import "spinner";
@import "login";
@import "likes";
@import "../../node_modules/prismjs/themes/prism";
@import "../../node_modules/prism-themes/themes/prism-atom-dark";
@import "megadraft/megadraft";

$tile-height: 320px;

.tile-parent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tile {
  background: #444444;
  width: $tile-height;
  height: $tile-height;
  position: relative;
  margin: 15px;

  * {
    color: white;
  }

  object {
    width: 100%;
    height: 100%;
  }

  .body {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 60px;
  }

  .overlay {
    transition:all 0.5s ease;
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 60px;
    background-color: #444444;
    opacity: 0.0;
  }

  .overlay:hover {
    opacity: 0.9;
  }

  @media (any-hover: none) {
    .overlay {
      opacity: 0.9;
    }
  }

  .footer {
    position: absolute;
    left: 10px;
    right: 10px;
    top: calc(#{$tile-height} - 60px);
    bottom: 10px;
  }
}

.top-right-corner-margins {
  margin-bottom: 10px;
  margin-right: 10px;
}

.float-left {
  float: left;
}

.clear-left {
  clear: left;
}

.social {
  a {
    display:inline-block;
    margin-right:6px
  }
  img {
    display: block
  }
}

.email {
  display: block;
  background-color: black;
  padding: 2px;
  border-radius: 50px;
}

.token.operator {
  background: inherit;
}

body {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  color: hsl(0,0,10%);
  font-size: 18px;

  margin: 0;
  padding: 0;
  background: #f5f5ef;
  line-height: 1.5;
}
#main-section {
  margin-top: $navbar-position + 100px;
  margin-bottom: 50px;
}

$cardShadow: 0px 2px 4px rgba(0,0,0,0.18);

.article-container {
  background: white;
  padding: 30px;
  margin: 30px 0;
  box-shadow: $cardShadow;
  border-radius: 1px;
}

.media {
  display: block;
  margin: 10px auto;
}

.text-center {
  display: block;
  text-align: center;
}

.articles-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@keyframes flyIn {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.fly-in {
  opacity: 0;
  animation-name: flyIn;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.hover-move {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.clickable {
  cursor: pointer;
}

.hover-move:hover {
  top: 8px;
}

.article-short {
  &.card {
    padding: 10px 15px 25px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  margin: 20px
}

.card {
  background: white;
  padding: 10px;
  box-shadow: $cardShadow;
  border-top: 4px #f8cc46 solid;
  border-radius: 0 0 3px 3px;
  width: 320px;
}

.article-short:nth-of-type(2n) {
  border-top: 4px #60CF65 solid;
}

.styleButton {
  display: inline-block;
  background: #3cb0fd;
  padding: 10px 20px 10px 20px;
  font-size: 15px;
  margin: 5px;
  color: #ffffff;

  &.active {
    background: #1d557a;
  }
}

.page-content {
  position: absolute;
  left: 10%;
  right: 10%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 20px 0;
  font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
  color: #333332;
  letter-spacing: -1px;
  font-weight: 700;
  line-height: 1;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
  word-wrap: break-word;
}

@media screen and (max-width: $media-medium), (device-width: $media-medium) {
  .page-content {
    left: 10px;
    right: 0;
  }
}

@media screen and (max-width: $media-small), (device-width: $media-small) {
  .page-content {
    width: 100%;
    left: 0;
    right: 0;
  }

  #main-section {
    margin-top: 60px;
    padding: 0;
  }

  .media {
    max-width: 100%;
  }

  .tile-parent {
    margin: 0;
  }

  .article-container {
    background: white;
    padding: 10px;
    margin: 0;
    box-shadow: $cardShadow;
  }

  .article-short {
    margin: 15px;
  }

  .article-short:first-of-type {
    margin-top: 75px;
  }
}

// Transitions

.appear-enter {
  opacity: 0.01;
}

.appear-enter.appear-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.appear-leave {
  opacity: 1;
}

.appear-leave.appear-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.article-container img {
  margin: 10px auto 20px;
  display: block;
}

.my-face {
  float: left;
  shape-outside: circle();
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-right: 20px !important;
}
