@import "variables";

$position-left: 0;
$position-right: 0;

#logo {
  height: 250px;
  position: absolute;
  top: 10px;
  left: $position-left;
  z-index: 11;
}

#searchBar {
  position: absolute;
  top: $navbar-position + 50px;
  left: $position-left + 10%;
  right: $position-right;
  padding: 5px;
  background-color: #f8c300;
  box-shadow: 0 8px 6px -6px black;

  i {
    float: right;
    padding: 2px 5px;
    font-size: 1.4em;
    color: $navbar-gray;
  }

  input {
    float: right;
  }

  .pretty-input {
    display: inline-block;
    box-sizing: content-box;
    padding: 2px 15px;
    border: 1px solid #b7b7b7;
    border-radius: 20px;
    text-overflow: clip;
    opacity: 0.9;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
    width: 35%;
    font-size: 1.1em;

    &:focus {
      outline: none;
    }
  }
}

nav {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  position: absolute;
  top: $navbar-position;
  left: $position-left + 10%;
  right: $position-right;
  z-index: 10;
  background-color: #444;

  #title {
    margin-left: 150px;
  }

  responsivenav {
    a {
      text-decoration: none;
      color: #fff;
      display: block;
      transition: .3s background-color;

      &:hover {
        background-color: $circuit-green;
      }

      &.active {
        background-color: #fff;
        color: #444;
        cursor: default;
      }
    }

    ul {
      float: right;
      list-style: none;
      text-align: center;
      padding: 0;
      margin: 0 0 0 0;

      li {
        width: 150px;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
        display: inline-block;
      }
    }
  }
}

@media screen and (max-width: $media-medium), (device-width: $media-medium) {
  #searchBar {
    left: 120px;
  }
  nav {
    left: 120px;
  }
}

@media screen and (max-width: $media-navigation-links-go-lower), (device-width: $media-navigation-links-go-lower) {
  nav {
    responsivenav {
      ul {
        margin-top: 10px;
      }
    }
  }
}

@media screen and (max-width: $media-small), (device-width: $media-small) {
  #logo {
    display: none;
  }

  #searchBar {
    left:0;
    top: 60px;
  }

  nav {
    left:0;
    right: 0;
    top: 0;
    height: 60px;

    #title {
      margin-left: 50px;
    }

    responsivenav {
      $responsive-nav-width: 250px;

      display: block;
      position: fixed;
      top:70px;
      left:0;
      width: $responsive-nav-width;
      height: 100%;
      margin:0 0 0 -250px;
      transition:all 200ms ease-in;

      &.open {
        margin: 0;
      }

      ul {
        width: $responsive-nav-width;
        height: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        background: $navbar-gray;
        opacity: 0.8;
        overflow: hidden;

        li{
          margin:0;
          width: 100%;
        }
      }
    }
  }
}