$shirt-yellow: #FFCC00;
$circuit-green: #00D455;
$navbar-gray: #444444;

$navbar-position: 140px;

#logo {
  height: 250px;
  position: fixed;
  top: 10px;
  left: 10%;
  z-index: 1;
}

.pretty-input {
  display: inline-block;
  box-sizing: content-box;
  padding: 2px 15px;
  border: 1px solid #b7b7b7;
  border-radius: 20px;
  text-overflow: clip;
  opacity: 0.9;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  width: 35%;
  font-size: 1.1em;

  &:focus {
    outline: none;
  }
}


#searchBar {
  position: fixed;
  top: $navbar-position + 50px;
  left: 20%;
  right: 10%;
  padding: 5px;
  background-color: #f8c300;

  i {
    float: right;
    padding: 2px 5px;
    font-size: 1.4em;
    color: $navbar-gray;
  }

  input {
    float: right;
  }
}

body {
  margin: 0;
  padding: 0;
  background: #f5f5ef;
}

nav {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  position: fixed;
  top: $navbar-position;
  left: 20%;
  right: 10%;
  z-index: 0;
  background-color: #444;

  #title {
    margin-left: 5%;
  }

  a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;

    &:hover {
      background-color: $circuit-green;
    }

    &.active {
      background-color: #fff;
      color: #444;
      cursor: default;
    }
  }

  ul {
    float: right;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0px 0px 0px 0px;

    li {
      width: 120px;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
      display: inline-block;
    }
  }
}